.slider1 {
    height: 120px;
    background-color: #fffcf5;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    cursor: default;
    user-select: none;
    touch-action: none;
}

.slider1:before,
.slider1:after {
    background: linear-gradient(
        to left,
        #fffcf5 0%,
        hsla(0, 0%, 100%, 0) 100%
    );
    content: "";
    height: 120px;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider1:before {
    left: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider1:after {
    right: 0;
    top: 0;
}

.slider1 .slide1-track-1 {
    animation: scroll-r 30s linear infinite;
    display: flex;
    width: 5000px;
}

.slider1 .slide1-track-2 {
    animation: scroll-l-modified 45s linear infinite;
    display: flex;
    width: 5000px;
}

.slider1 .slide1 {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slider1 .slide1 img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
}

/* Animations */
@keyframes scroll-r {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scroll-l-modified {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
